<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>茶叶</title>
    <link rel="stylesheet" href="swiper.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://www.jq22.com/jquery/jquery-3.3.1.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    <style>
        .el-dialog {
            height: 100%;
            margin-top: 0 !important;
            background: #ccc;
        }

        .line {
            color: #555;
        }

        .line:hover {
            border-bottom: 1px solid #519f10;
            color: #519f10;
        }

        .line_hover {
            border-bottom: 1px solid #519f10;
            color: #519f10;
        }

        header {
            width: 100%;
            height: 80px;
            background-color: cyan;
        }

        .cont {
            width: 100%;
            height: 100px;
            background-color: #eee;
            display: flex;
            padding: 0 50px;
            box-sizing: border-box;
            margin-bottom: 50px;
        }


        .l {
            padding: 0 50px;
            line-height: 100px;
            font-size: 30px;
            flex: 1;
        }


        .list>div {
            float: left;
            line-height: 60px;
            font-size: 24px;
            padding: 0 10px;
            margin: 0 10px;
            padding-top: 20px;
        }

        .list>div:hover {
            border-bottom: 2px solid #000;
        }

        .active {
            border-bottom: 2px solid #000;
        }

        .teaBox {
            width: 240px;
            height: 240px;
            display: inline-block;
            margin-right: 20px;
            background-color: #ccc;
            margin-bottom: 50px;
        }

        .item {
            text-align: center;
            line-height: 100px;
        }

        .el-carousel {
            width: 100%;
            position: relative;
            top: -100px;
        }

        .tea2_num {
            margin: 80px 0;
            border-right: 1px solid #ccc;
        }

        .tea2_num:last-child {
            border-right: none;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <div class="row">
            <div class="head">
                <!-- 首页logo  导航 -->
                <div class="logo">
                    <img style="width:80px;height:54px"
                        src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvZjc0MTI0MDFiMDZjZjdjYmI4OTg5MTBjMTE2YzZlNzYucG5n.png"
                        alt="">
                </div>
                <div class="clearfix nav">
                    <div class="list" v-for="(i, $i) in arr">
                        <a style="padding-bottom:10px;" :class="['line',index == $i? 'line_hover':'']" @click="btn($i)"
                            :href="i.path">{{i.name}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <router-view></router-view>
        </div>
        <footer style="padding: 60px 80px 20px;display:flex;justify-content: space-between;">
            <div>
                <div
                    style="font-family:微软雅黑;font-size:26px;font-weight:normal;font-style:normal;color:#666666;padding:0 0 5px 0;display:block;padding:0 0 5px 0">
                    联系</div>
                <div
                    style="font-family:verdana;font-size:13px;font-weight:normal;font-style:normal;color:#969696;display:block">
                    Contact</div>
            </div>
            <div>
                <div>
                    <span style="font-size: 16px;">
                        <span style="color: rgb(93, 93, 93);">关注我们</span>
                    </span>
                    <span style="font-size: 18px;"><br></span></div>
                <div>
                    <img src="wechat.png" style="width: 24px;height:24px;    margin-top: 10px;"></img>
                    <img src="weibo.png" style="width: 40px;height:40px;"></img>
                </div>
            </div>
            <div style="color: rgb(93, 93, 93);">
                <div>起飞页自助建站平台</div>
                <div style="font-size: 14px;padding-top: 10px;">
                    <p>地址：苏州市建外SOHO东区2号楼</p>
                    <p>邮编：100000</p>
                    <p>电话：010-69557550</p>
                </div>
            </div>
            <div class="clearfix" style="text-align:center">
                <div style="float:left;margin-right: 50px;">
                    <div style="width: 100px;height:100px;margin-bottom: 10px;">
                        <img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTgvMDgvNjFjNTQ1NWFmY2MyNGViMmZjY2VkOTk3YmMwMWE2MGMtMTAweDEwMC5wbmc_p_p100_p_3D.png"
                            alt="">
                    </div>
                    <div>微信</div>
                </div>
                <div style="float:left">
                    <div style="width: 100px;height:100px;margin-bottom: 10px;">
                        <img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTgvMDgvNjFjNTQ1NWFmY2MyNGViMmZjY2VkOTk3YmMwMWE2MGMtMTAweDEwMC5wbmc_p_p100_p_3D.png"
                            alt="">
                    </div>
                    <div>微博</div>
                </div>
            </div>
        </footer>
        <div style="padding-left: 70px">

            <div style="padding: 15px 0"><span style="font-size: 12px;">COPYRIGHT (©) 2019 茶叶类网站
                    &nbsp;京ICP备41414141414-1号</span>
            </div>
        </div>
    </div>
    <template id='no1'>
        <div style="width: 100%">
            <div class="block" style="height: 680px">
                <el-carousel trigger="click" height="680px">
                    <el-carousel-item>
                        <img style="width: 100%"
                            src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNTkxNjY4MzYwNTc4MTlhMDVjNGZmNmQ5NWFjMzU0OGIuanBn.jpg"
                            alt="">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img style="width: 100%"
                            src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNjFhNzJlOWFhNThhNzVhZjY0ZGFlMjgzYTAzMDQ1NDAuanBn.jpg"
                            alt="">
                    </el-carousel-item>
                </el-carousel>
            </div>
            <div class="cont_1">
                <div style="text-align: center;">
                    <div style="font-size: 24px;;color: #232323;margin-bottom: 5px">新茶上市</div>
                    <div style="font-size:14px;color:#999">Tea Leave</div>
                </div>
                <index_tea></index_tea>
                <div class="index_more">→</div>
            </div>
            <div class="cont_2">
                <div class="cont_2_url"></div>
                <div style="text-align:center; color: #fff;margin-bottom: 20px;">
                    <div style="margin-bottom: 5px;font-size: 26px;">关于我们</div>
                    <div>About</div>
                </div>
                <div class="index_ab_more" style="margin: 0 80px; display: flex">
                    <div>
                        <img style="width:522px;height:270px"
                            src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvOGJiMjZlNDUwZjY0NjBkNWNiMmE4NTg4YjBhYTY5ZmMtNTQweDI4MC5qcGc_p_p100_p_3D.jpg"
                            alt="">
                    </div>
                    <div style="padding: 40px">
                        <div style="line-height: 28px;margin-bottom: 20px;">
                            <span style="font-size: 14px;">
                                茶叶源于中国，茶叶最早是被作为祭品使用的。但从春秋后期就被人们作为菜食，在西汉中期发展为药用，西汉后期才发展为宫廷高级饮料，普及民间作为普通饮料那是西晋以后的事。发现最早人工种植茶叶的遗迹在浙江余姚的田螺山遗址，已有6000多年的历史。饮茶始于中国。
                            </span>
                        </div>
                        <div style="padding: 15px 20px;background:#90af6b;display: inline-block;color: #fff">了解更多</div>
                    </div>
                </div>
            </div>
            <div class="cont_3" style="padding: 0 50px 50px">
                <el-button type="text" @click="dialogVisible = true" v-for="i in logo_arr" style="padding: 0 20px">
                    <img :src="i" alt="">
                </el-button>

                <el-dialog :visible.sync="dialogVisible" width="100%">
                    <div>
                        <div class="block" style="padding-top: 200px;">
                            <el-carousel trigger="click" height="150px">
                                <el-carousel-item v-for="item in logo_arr" :key="item">
                                    <div style="text-align: center">
                                        <img style :src="item" alt="">
                                    </div>
                                </el-carousel-item>
                            </el-carousel>
                        </div>
                    </div>
                </el-dialog>
            </div>
        </div>
    </template>
    <template id='no2'>
        <div>
            <div style="width: 100%">
                <img style="width: 100%"
                    src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNDlhZTM4YTg2N2VmNzVhNDA3M2RmNzRiYTFmOThjMjYuanBn.jpg"
                    alt="">
            </div>
            <div style="text-align: center">
                <tea2>
                    <div slot="no1">
                        春茶
                    </div>
                    <div slot="no2">
                        饮茶不但是传统饮食文化，同时，由于茶中含有多种抗氧化物质与抗氧化营养素，对于消除自由基有一定的效果。
                    </div>
                    <div slot="no3">
                        因此喝茶也有助防老，具养生保健功能，每天喝三两杯茶可起到防老的作用
                    </div>
                </tea2>
            </div>
            <div style="margin: 0 100px;">
                <div
                    style="display: flex;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;margin-bottom: 30px;">
                    <tea2_num b_num=138 b_title="历史悠久"></tea2_num>
                    <tea2_num b_num=423 b_title="冲泡温泉"></tea2_num>
                    <tea2_num b_num=89 b_title="碧螺春等级"></tea2_num>
                    <tea2_num b_num=567 b_title="茶园面积"></tea2_num>
                </div>
            </div>

            <div style="text-align: center;padding: 0 80px">
                <tea2>
                    <div slot="no1">
                        喝茶的好处
                    </div>
                    <div slot="no2">
                        饮茶不但是传统饮食文化，同时，由于茶中含有多种抗氧化物质与抗氧化营养素，对于消除自由基有一定的效果。因此喝茶也有助防老，具养生保健功能，每天喝三两杯茶可起到防老的作用。茶叶中含有多种维生素和氨基酸，喝茶对于清油解腻，增强神经兴奋以及消食利尿也具有一定的作用。
                        但并不是喝得越多越好，也不是所有的人都适合喝茶。一般来说，每天1-2次，每次3-5克、400毫升的饮量是比较适当的。一般，人们说喝茶还指喝水。
                    </div>
                </tea2>
            </div>
            <div style="display: flex;justify-content: space-between;padding: 0 100px;margin-bottom:100px">
                <div style="width:360px;text-align: center;color: #969696;position: relative;transition: .3s" v-tea2_top
                    v-for="i in tea2">
                    <div style="width:360px; height:238px">
                        <img style="width:100%;height:100%" :src="i.img" alt="">
                    </div>
                    <div style="width:100%;padding: 20px 0">{{i.title}}</div>
                    <div style="width:100%;line-height: 26px;font-size: 14px">{{i.info}}</div>
                </div>
            </div>
    </template>
    <template id='no3'>
        <div>
            <div class="clearfix" style="background: #EDEDED;padding:20px 40px;">
                <div class="left"
                    style="font-family:微软雅黑;font-size:24px;font-weight:normal;font-style:normal;color:#333333;padding:0 0 15px 0;display:block;padding:0 0 15px 0;vertical-align:bottom;">
                    茶叶
                </div>
                <div class="right">
                    <div style="display: table;width: 100%;">
                        <div class="left m-li" v-for='i in tea_name' :style="{color:type==i?'green':''}"
                            @click="type=i">
                            {{i}}
                        </div>
                    </div>

                </div>

            </div>
            <div style="padding: 40px;">
                <div v-if="type=='全部'">
                    <div class="row" style="margin: 0; padding: 0;">
                        <div class="col-md-3" v-for='(i,$key,$index) in tea_info' style="padding: 15px;">
                            <m-items>
                                <img :src="i.img_url" width="100%" alt="" slot='m-img'>
                                <p slot="m-name" style="text-align:left">{{i.name}}</p>
                                <p slot="m-num" style="text-align:left">{{i.price}}</p>
                                <div class="btn-s el-icon-right" slot="m-btn"></div>
                            </m-items>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div class="row" style="margin: 0; padding: 0;">
                        <div class="col-md-3" v-for='(i,$key,$index) in tea_info' v-if='type==i.type'
                            style="padding: 15px;">
                            <m-items style='text-align: left;'>
                                <img :src="i.img_url" width="100%" alt="" slot='m-img'>
                                <p slot="m-name" style="text-align: left;">{{i.name}}</p>
                                <p slot="m-num" style="text-align: left;">{{i.price}}</p>
                                <div class="btn-s el-icon-right" slot="m-btn"></div>
                            </m-items>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <template id='no4'>
        <div>
            <div style="width: 100%">
                <img style="width: 100%"
                    src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNzNlYjg4NTNhNmZkNTZiYWRhN2Q4ZjI4NjNkOWM1ODguanBn.jpg"
                    alt="">
            </div>
            <div style="text-align: center">
                <tea2>
                    <div slot="no1">
                        种植基地
                    </div>
                    <div slot="no2">
                        公司拥有完整、科学、质量管理体系，通过ISO14001，ISO22000国际质量体系认
                        证，有机产品认证，拥有大量先进、专业的生产设备和检测仪器，秉承“顾客至上，锐意进取”的经营理念，坚持“客户第一”的原则为广大客户提供优质的服务。
                    </div>
                </tea2>
            </div>
            <div class="clearfix" style="padding: 0 5% 80px">
                <div style="float: left;margin: 10px;" v-for="i in img_arr">
                    <img style="width: 280px;height:280px" :src="i" alt="">
                </div>
            </div>
        </div>
    </template>
    <template id='no5'>
        <div>
            <div style="width: 100%">
                <img style="width: 100%"
                    src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvOTIwYWRjMGM1M2U4OGQ2MTY0OWE0MzYwMmY5MWQ0NzQuanBn.jpg"
                    alt="">
            </div>
            <div style="overflow: hidden;padding-top: 50px">
                <div class="row" style="margin: 0; padding:0 100px">
                    <div class="col-md-2"
                        style="height:300px;float:left;line-height: 60px;border-top: 2px solid rgba(144,175,107,0.5);padding: 0">
                        <div>
                            <span class="glyphicon glyphicon-play" aria-hidden="true" style="color: #888"></span>
                            <a href="#/no5" style="color: #888">新闻动态</a>
                        </div>
                        <div style="border-top: 1px solid #e0e0e0">
                            <span class="glyphicon glyphicon-play" aria-hidden="true" style="color: #888"></span>
                            <a href="#/no5/no8" style="color: #888">新茶动态</a>
                        </div>
                        <div style="border-top: 1px solid #e0e0e0">
                            <span class="glyphicon glyphicon-play" aria-hidden="true" style="color: #888"></span>
                            <a href="#/no5/no9" style="color: #888">产品新闻</a>
                        </div>
                    </div>

                    <div class="col-md-10" style="padding-left: 100px">
                        <router-view></router-view>
                    </div>
                </div>

            </div>
        </div>
    </template>
    <template id='no6'>
        <div>
            <div style="width: 100%">
                <img style="width: 100%"
                    src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNTYzNGI5ZDFlYmFkNzBkY2FlZmM1NDM0MWE0YzNkYWEuanBn.jpg"
                    alt="">
            </div>
            <div style="text-align: center">
                <tea2>
                    <div slot="no2" style="padding: 0 250px">
                        中国历史上有很长的饮茶纪录，已经无法确切地查明到底是在什么年代了，但是大致的时代是有说法的。并且也可以找到证据显示，确实在世界上的很多地方饮茶的习惯是从中国传过去的
                    </div>
                </tea2>
            </div>
            <div style="display: flex;margin-bottom: 30px;">
                <call_us>
                    <div slot="no1">
                        <img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvZmM3ZjZkOTc4MzNjYjk5ZDliY2Y1NWQzMmNjNjFiNDYtODB4ODAuanBn.jpg"
                            alt="">
                    </div>
                    <div slot="no2">邮箱</div>
                    <div slot="no3">info@email.com</div>
                </call_us>
                <call_us>
                    <div slot="no1">
                        <img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvZDY4ZDFlYWFjZjgyMmQxOGQxOTI2M2M3ZTE5Y2Y3NWEtODB4ODAuanBn.jpg"
                            alt="">
                    </div>
                    <div slot="no2">手机</div>
                    <div slot="no3">13725415481/010 6888 6888</div>
                </call_us>
                <call_us>
                    <div slot="no1">
                        <img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNmZkOTQ2MGI2MzM1ZjUzNmY1MzY0NTFiYmJhMjA5ZGQtODB4ODAuanBn.jpg"
                            alt="">
                    </div>
                    <div slot="no2">地址</div>
                    <div slot="no3">苏州市建外SOHO东区2号楼</div>
                </call_us>
            </div>
            <div style="padding: 0 100px 50px">
                <div id="allmap" style="min-height: 400px;"></div>
            </div>
        </div>
    </template>
    <template id='no7'>
        <div>
            <news v-for="i in list">
                <p slot="t">{{i.title}}</p>
                <span slot="text">{{i.info}}</span>
                <a href="#" slot="a">阅读正文 →</a>
                <img :src="i.img" alt="" slot="img">
            </news>
            <div v-show="list.length>=5? type=true: type=false" style="text-align: center;padding: 50px">点击加载更多。。。</div>
        </div>
    </template>
    <template id='no8'>
        <div>
            <news v-for="i in list">
                <p slot="t">{{i.title}}</p>
                <span slot="text">{{i.info}}</span>
                <a href="#" slot="a">阅读正文 →</a>
                <img :src="i.img" alt="" slot="img">
            </news>
            <div v-show="list.length>=5? type=true: type=false" style="text-align: center;padding: 50px">点击加载更多。。。</div>
        </div>
    </template>
    <template id='no9'>
        <div>
            <news v-for="i in list">
                <p slot="t">{{i.title}}</p>
                <span slot="text">{{i.info}}</span>
                <a href="#" slot="a">阅读正文 →</a>
                <img :src="i.img" alt="" slot="img">
            </news>
            <div v-show="list.length>=5? type=true: type=false" style="text-align: center;padding: 50px">点击加载更多。。。</div>
        </div>
    </template>
    <!-- 首页茶叶 -->
    <template id='index_tea'>
        <div>
            <div class="clearfix" style="padding:20px 40px;text-align: center;">
                <div style="text-align:center;display:inline-block;margin: 20px 30px;position: relative;" v-tea
                    v-for="i in tea_arr">
                    <div style="width: 290px;height:290px;margin-bottom: 15px;">
                        <img style="width: 100%;height:100%;transition: .3s" :src="i.tea_img" alt="">
                    </div>
                    <div style="padding-bottom: 20px;color:#555">{{i.tea_name}}</div>
                    <div style="height:2px;background:#ccc;"></div>
                    <div style="height: 2px;width:0;background:#519f10;position:absolute;bottom: 41px;transition: .3s">
                    </div>
                    <div style="padding-top: 20px;color:#555">{{i.tea_price}}</div>
                </div>
            </div>
        </div>
    </template>
    <!-- 关于组件 -->
    <template id='tea2'>
        <div style="padding: 40px 80px">
            <div
                style="line-height: 80px;font-family:微软雅黑;font-size:24px;font-weight:normal;font-style:normal;color:#232323;padding:0 0 5px 0;display:block;padding:0 0 5px 0;">
                <slot name="no1"></slot>
            </div>
            <p style="line-height: 26px">
                <slot name="no2"></slot>
            </p>
            <p style="line-height: 26px">
                <slot name="no3"></slot>
            </p>
        </div>
    </template>
    <!-- 关于组件2 -->
    <template id='tea2_num'>
        <div class="tea2_num" style="text-align: center;margin: 80px 0;width:288px">
            <div style="font-size: 60px;font-family: courier new;color: #3c3c3c;">
                {{num}}
            </div>
            <div>
                {{title}}
            </div>
        </div>
    </template>
    <!-- 茶叶3 -->
    <template id='call_us'>
        <div class="tea2_num" style="text-align: center;margin: 80px 0;width:33%">
            <div style="font-size: 60px;font-family: courier new;color: #3c3c3c;">
                <slot name="no1"></slot>
            </div>
            <div style="padding: 20px 0 5px">
                <slot name="no2"></slot>
            </div>
            <div>
                <slot name="no3"></slot>
            </div>
        </div>
    </template>
    <!-- 新闻组件 -->
    <template id="news">
        <div class="clearfix news" style="display: flex;" v-lee>
            <div class="left">
                <div class="news-t">
                    <slot name="t"></slot>
                </div>
                <div class="news-text">
                    <slot name="text"></slot>
                </div>
                <div class="news-a" style="padding-top: 10px;">
                    <slot name="a"></slot>
                </div>
            </div>
            <div class="right" style="width: 200px;flex:1;">
                <div style="overflow: hidden;">
                    <slot name='img'></slot>
                </div>
            </div>

        </div>
    </template>
    <!-- 茶叶 -->
    <template id="m-items">
        <div v-lee>
            <div class="m-img">
                <slot name="m-img"></slot>
            </div>
            <div class="m-name">
                <slot name="m-name"></slot>
                <div class="m-line">
                    <div class="u-b">

                    </div>
                </div>
            </div>
            <div class="m-num">
                <slot name="m-num"></slot>
            </div>
            <div style="font-size: 24px">
                <slot name="m-btn"></slot>
            </div>
        </div>
    </template>
</body>
<script src="js/json.js"></script>
<script src="js/vue.js"></script>
<script src="js/vue-router.js"></script>
<script src="js/swiper.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src='https://cdn.jsdelivr.net/npm/vue-resource@1.5.1'></script>
<script src="https://api.map.baidu.com/api?v=3.0&ak=ZVxQBFByXwIR6q06AXIHvxOeIRKMkO1F"></script>
<script>
    //联系我们
    Vue.component('call_us', {
        template: '#call_us'
    })
    // 茶叶
    Vue.component('m-items', {
        template: "#m-items",
        directives: {
            lee(a) {
                var
                    img =
                    a.querySelector(".m-img>img");
                var
                    name =
                    a.querySelector('.m-name');
                var
                    line =
                    a.querySelector('.u-b');
                var
                    btn =
                    a.querySelector(".btn-s")
                a.onmouseenter =
                    function () {
                        line.style.transition =
                            ".5s";
                        img.style.transition =
                            ".5s";
                        name.style.color =
                            "yellowgreen";
                        line.style.width =
                            "100%";
                        btn.style.borderColor =
                            "#008000";
                        btn.style.color =
                            "#008000"
                        console.log(name)
                    }
                a.onmouseleave =
                    function () {
                        name.style.color =
                            ""
                        line.style.width =
                            "0%";
                        btn.style.color =
                            "";
                        btn.style.borderColor =
                            "";
                    }
            }
        }
    })
    //新闻
    Vue.component("news", {
        template: "#news",
        directives: {
            lee(a) {
                var
                    img =
                    a.querySelector("img");
                var
                    t =
                    a.querySelector('.news-t');
                a.onmouseenter =
                    function () {
                        img.style.transition =
                            ".5s";
                        t.style.color =
                            "yellowgreen";
                        img.style.transform =
                            "scale(1.1)"
                    }
                a.onmouseleave =
                    function () {
                        t.style.color =
                            ""
                        img.style.transform =
                            "";
                    }
            }
        }
    })
    Vue.directive('tea2_top',
        (a) => {
            a.onmouseenter =
                function () {
                    this.style.top =
                        '-20px'
                }
            a.onmouseleave =
                function () {
                    this.style.top =
                        0
                }
        })
    Vue.component('tea2_num', {
        template: '#tea2_num',
        props: ['b_num',
            'b_title'
        ],
        data() {
            return {
                num: 0,
                title: this.b_title
            }
        },
        created() {
            var
                time =
                setInterval(() => {
                        this.num++
                        if (this.num >=
                            this.b_num) {
                            this.num =
                                this.b_num
                            clearInterval(time)
                        }
                    },
                    1000 /
                    this.b_num)
        }
    })
    Vue.component('tea2', {
        template: '#tea2',
    })
    //首页茶叶自定义
    Vue.directive('tea', (a) => {
        a.onmouseenter = function () {
            this.children[0].children[0].style.transform =
                'scale(1.1)';
            this.children[1].style.color =
                '#519f10';
            this.children[3].style.width =
                '100%';
        }
        a.onmouseleave = function () {
            this.children[0].children[0].style.transform =
                'scale(1)';
            this.children[1].style.color =
                '#555';
            this.children[3].style.width =
                0;
        }
    })
    //首页茶叶
    Vue.component('index_tea', {
        template: '#index_tea',
        data() {
            return {
                tea_arr: [{
                        tea_img: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvODMxNGZmNmYyYjkyNzcxZmY2N2U5NjdlZjQyNjAzZWItNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        tea_name: '茉莉花茶',
                        tea_price: '¥223.0'
                    },
                    {
                        tea_img: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMGFkMzdiZDQwOGNjYWMwYzI0Y2JmNzdiMDZiNDg4ODAtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        tea_name: '白牡丹',
                        tea_price: '¥1235.0'
                    },
                    {
                        tea_img: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvOTc4NTUwMDZjYzA1MDQ1OGVkMDFmZjE2N2I4YjNkOTctNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        tea_name: '白毫银针',
                        tea_price: '¥258.0'
                    },
                    {
                        tea_img: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMDMzMjg2Zjc0ZWU4M2ZiM2U5MTllZTgwMDc4MjRjNTAtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        tea_name: '云南普洱茶',
                        tea_price: '¥500.0'
                    },
                    {
                        tea_img: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMjY1ZjU4NWU5ZmNmYjkxMDBlMzc1YmFkMDQyNTkwMzEtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        tea_name: '湖北老青茶',
                        tea_price: '¥400.0'
                    },
                    {
                        tea_img: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMjhlYTFmMDQ0Y2NhOWI4NWEzYWZkMzExYzczZTY3MjQtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        tea_name: '霍山黄芽蒙洱银针',
                        tea_price: '¥711.0'
                    },
                ],
            }
        },
    })
    var no7 = {
        path: '/',
        component: {
            template: '#no7',
            data() {
                return {
                    type: true,
                    list: [{
                        title: '喝茶的好处有哪些 6大好处告诉你',
                        info: '中国历史上有很长的饮茶纪录，已经无法确切地查明到底是在什么年代了，但是大致的时代是有说法的。并且也可以找到证据显示，确实在世界上的很多地方饮茶的习惯是从中国传过去的。所以，很多人认为饮茶就是中国人首创...',
                        img: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNjczNTEyZGI2NGM2N2U0MzdjMjMxNGMyYzc3MjRmM2YtMjAweDEzMC5qcGc_p_p100_p_3D.jpg'
                    }]
                }
            },
        }
    }
    var no8 = {
        path: 'no8',
        component: {
            template: '#no8',
            data() {
                return {
                    type: true,
                    list: [{
                        title: '2019茶叶展-第十六届上海国际茶业交易春季博览会',
                        info: '野生种遍见于中国长江以南各省的山区，为小乔木状，叶片较大，常超过10厘米长，长期以来，经广泛栽培，毛被及叶型变化很大。茶叶可作饮品，含有多种有益成分，并有保健功效。',
                        img: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNS81ZDdlNzRkMjc1MTMzYzFmZmRhNWRlMWZjYWI0YWRlNy0yMDB4MTMwLmpwZw_p_p100_p_3D_p_p100_p_3D.jpg'
                    }, {
                        title: '喝茶也会有危险——茶这样喝真的很危险',
                        info: '但是也有人能够找到证据指出，饮茶的习惯不仅仅是中国人发明的，在世界上的其他一些地方也是饮茶的发明地，例如印度、非洲等。1823年，一个英国侵略军的少校在印度发现了野生的大茶树，从而有人开始认定茶的发源...',
                        img: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvMGQ5YWMxYWEzOWNmZmIzYzk4NDE0Njk4YzZmZGQwZjQtMjAweDEzMC5qcGc_p_p100_p_3D.jpg'
                    }, {
                        title: '喝茶养生好处多 但是喝错茶竟会致丧命',
                        info: '唐．陆羽《茶经》：“茶之为饮，发乎神农氏。”，在中国的文化发展史上，往往是把一切与农业、与植物相关的事物起源最终都归结于神农氏。而中国饮茶起源于神农的说法也因民间传说而衍生出不同的观点。有人认为茶是神...',
                        img: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvYjc0NWU4ZGE0NTU0ODIyYWJjMjNhMmE1NGQ2NDJkM2EtMjAweDEzMC5qcGc_p_p100_p_3D.jpg'
                    }, {
                        title: '服用“阿司匹林”尽量少喝茶',
                        info: '晋．常璩《华阳国志．巴志》：“周武王伐纣，实得巴蜀之师，......茶蜜......皆纳贡之。”这一记载表明在周朝的武王伐纣时，巴国就已经以茶与其它珍贵产品纳贡与周武王了。《华阳国志》中还记载，那时并...',
                        img: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvMmZlZDQ0NjA2NDI0N2FmZWI4YTk0ZmQ0NGRiMDc5NzktMjAweDEzMC5qcGc_p_p100_p_3D.jpg'
                    }, {
                        title: '碧螺春茶叶喝第几泡才是最好喝的呢?',
                        info: '中国饮茶起于六朝的说法，有人认为起于“孙皓以茶代酒”，有人认为系“王肃茗饮”而始，日本、印度则流传饮茶系起于“达摩禅定”的说法。然而秦汉说具有史料证据确凿可考，因而削弱了六朝说的正确性。',
                        img: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvMTI1ZmM2NTk4YWE0NmFlY2JkOWY1NDAzYzkwYjM3ODctMjAweDEzMC5qcGc_p_p100_p_3D.jpg'
                    }, ],

                }
            },
        }
    }
    var no9 = {
        path: 'no9',
        component: {
            template: '#no9',
            data() {
                return {
                    type: true,
                    list: [{
                        title: '喝什么茶叶好?春天适合喝什么茶?喝白茶喝什么茶叶好?',
                        info: '2017年10月27日，世界卫生组织国际癌症研究机构公布的致癌物清单初步整理参考，茶在3类致癌物清单中。属于对人类致癌性可疑，尚无充分的人体或动物数据的物质类。',
                        img: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNzQwMmZhZTFiYWE3OTgxODA4MWYwM2I2N2UwZTU0ZDItMjAweDEzMC5qcGc_p_p100_p_3D.jpg'
                    }, {
                        title: '喝什么茶好?如何正确喝茶?',
                        info: '中国饮茶起源众说纷纭：追溯中国人饮茶的起源，有的认为起于上古，有的认为起于周，起于秦汉、三国、南北朝、唐代的说法也都有，造成众说纷纭的主要原因是因唐代以前无“茶”字，而只有“荼”字的记载，直到茶经的作...',
                        img: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNGRmMDFhNzRmYTBhZWFiODIyYmM1MThhY2M2ZWFhOTYtMjAweDEzMC5qcGc_p_p100_p_3D.jpg'
                    }],
                }
            },
        }
    }
    var router = new VueRouter({
        routes: [{
                path: '/',
                component: {
                    template: '#no1',
                    data() {
                        return {
                            dialogVisible: false,
                            logo_arr: [
                                'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMjMwZTdjYTlmNmIwNjRhYjM2NzIzZGZiYTViMzU2MjQtMTUweDYwLnBuZw_p_p100_p_3D_p_p100_p_3D.png',
                                'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvYzU0OGUxMmQwM2FhMTE4MmE1ZmM5YWY4YjBlZDNhODMtMTUweDYwLnBuZw_p_p100_p_3D_p_p100_p_3D.png',
                                'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvZmE3YjM1YzA3Mzg5Mjg4ODVjOTY3NDRjYTNkZjAzNDQtMTUweDYwLnBuZw_p_p100_p_3D_p_p100_p_3D.png',
                                'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMTdlYWNiYTc0ZmU4MDZkMTk1NGI5MWY0MTdhMzUzZDgtMTUweDYwLnBuZw_p_p100_p_3D_p_p100_p_3D.png',
                                'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMDFjMDE4YjAwYzA0MWMwYmQ3MTIzYTkzZjVhMTkyOTgtMTUweDYwLnBuZw_p_p100_p_3D_p_p100_p_3D.png',
                                'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMWQyNGZhYmI0ZWRiODk1MGUxMmI3MzkxOGU3OTY1ZDktMTUweDYwLnBuZw_p_p100_p_3D_p_p100_p_3D.png'
                            ]
                        };
                    },
                }
            },
            {
                path: '/no2',
                component: {
                    template: '#no2',
                    data() {
                        return {
                            num: [138,
                                423,
                                89,
                                567
                            ],
                            num_arr: [{
                                    num: 0,
                                    name: '历史悠久'
                                },
                                {
                                    num: 0,
                                    name: '冲泡温度'
                                },
                                {
                                    num: 0,
                                    name: '碧螺春等级'
                                },
                                {
                                    num: 0,
                                    name: '茶园面积'
                                },
                            ],
                            tea2: [{
                                    img: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNjczNTEyZGI2NGM2N2U0MzdjMjMxNGMyYzc3MjRmM2YuanBn.jpg',
                                    title: '茶园规划',
                                    info: '明万历二十三年（1595）张源撰写的《茶录》中，对当时洞庭东西山绿茶（炒青）的采摘、炒制有较为详细的记载，其炒制过程分杀青、轻团、焙干等工序，已与当今洞庭碧螺春的炒制工艺基本一致'
                                },
                                {
                                    img: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNGRmMDFhNzRmYTBhZWFiODIyYmM1MThhY2M2ZWFhOTYuanBn.jpg',
                                    title: '茶叶品质鉴别',
                                    info: '明万历二十三年（1595）张源撰写的《茶录》中，对当时洞庭东西山绿茶（炒青）的采摘、炒制有较为详细的记载，其炒制过程分杀青、轻团、焙干等工序，已与当今洞庭碧螺春的炒制工艺基本一致'
                                },
                                {
                                    img: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNDVhMmJlZTE1ZjE5MTc0OTQ2OTIxMTBiMjNkYWRiZDUuanBn.jpg',
                                    title: '冲泡工艺',
                                    info: '明万历二十三年（1595）张源撰写的《茶录》中，对当时洞庭东西山绿茶（炒青）的采摘、炒制有较为详细的记载，其炒制过程分杀青、轻团、焙干等工序，已与当今洞庭碧螺春的炒制工艺基本一致'
                                },
                            ]
                        }
                    },
                }
            },
            {
                path: '/no3',
                component: {
                    template: '#no3',
                    data() {
                        return {
                            type: '全部',
                            tea_info: tea_info,
                            tea_name: tea_name,
                        }
                    },
                    methods: {
                        click() {
                            for (let
                                    i =
                                    0; i <
                                this.arr.length; i++) {
                                this.$refs.item[i].className = '';
                            }
                            this.$refs.item[this.index].className = 'active'
                        },
                    }
                }
            }, {
                path: '/no4',
                component: {
                    template: '#no4',
                    data() {
                        return {
                            img_arr: [
                                'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNWQ3ZTc0ZDI3NTEzM2MxZmZkYTVkZTFmY2FiNGFkZTctMzAweDMwMC5qcGc_p_p100_p_3D.jpg',
                                'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNzQwMmZhZTFiYWE3OTgxODA4MWYwM2I2N2UwZTU0ZDItMzAweDMwMC5qcGc_p_p100_p_3D.jpg',
                                'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvOWVlYzA0NGVmYmNiZGQwYzE0M2QwYmZhMGY2MjNkMDUtMzAweDMwMC5qcGc_p_p100_p_3D.jpg',
                                'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvMGQ5YWMxYWEzOWNmZmIzYzk4NDE0Njk4YzZmZGQwZjQtMzAweDMwMC5qcGc_p_p100_p_3D.jpg',
                                'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvOWVkYTg5ZjIzMWEzOGFjODE5NmJiYmYyOTA5YWEyZjctMzAweDMwMC5qcGc_p_p100_p_3D.jpg',
                                'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvMTI1ZmM2NTk4YWE0NmFlY2JkOWY1NDAzYzkwYjM3ODctMzAweDMwMC5qcGc_p_p100_p_3D.jpg',
                                'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNGRmMDFhNzRmYTBhZWFiODIyYmM1MThhY2M2ZWFhOTYtMzAweDMwMC5qcGc_p_p100_p_3D.jpg',
                                'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvMmZlZDQ0NjA2NDI0N2FmZWI4YTk0ZmQ0NGRiMDc5NzktMzAweDMwMC5qcGc_p_p100_p_3D.jpg'
                            ]
                        }
                    },
                }
            }, {
                path: '/no5',
                component: {
                    template: '#no5'
                },
                children: [no7, no8, no9]
            }, {
                path: '/no6',
                component: {
                    template: '#no6',
                    mounted() {
                        var map = new BMap.Map("allmap");
                        // var point = new BMap.Point(116.331398, 39.897445);北京的经纬度
                        map.addControl(new BMap.NavigationControl());
                        map.addControl(new BMap.ScaleControl());
                        map.addControl(new BMap.OverviewMapControl());
                        map.addControl(new BMap.MapTypeControl());
                        map.centerAndZoom('苏州市外河桥', 11);
                    }
                }
            },
        ]
    })
    new Vue({
        el: '#app',
        router,
        data: {
            index: 0,
            arr: [{
                name: '首页',
                path: '#/'
            }, {
                name: '关于',
                path: '#/no2'
            }, {
                name: '茶叶',
                path: '#/no3'
            }, {
                name: '基地',
                path: '#/no4'
            }, {
                name: '新闻',
                path: '#/no5'
            }, {
                name: '联系',
                path: '#/no6'
            }, ]
        },
        methods: {
            btn(i) {
                this.index = i;
                sessionStorage.index = this.index;
            }
        },
        mounted() {
            if (sessionStorage.index) {
                this.index = sessionStorage.index;
            } else {
                this.index = 0
            }
        }
    })
</script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    })
</script>

</html>
<script>
    window.onload = function () {
        document.documentElement.style.fontSize =
            document.documentElement.clientWidth / 16 + 'px';
        window.onresize = function () {
            document.documentElement.style.fontSize =
                document.documentElement.clientWidth / 16 + 'px';
        }
    }
</script>