<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>音乐</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://www.jq22.com/jquery/jquery-3.3.1.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="css/music.css" type="text/css">
    <style>

    </style>
</head>

<body>
    <div id="app" v-cloak>
        <!-- 导航 -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="javascript:;">音乐</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <div class="navbar-form navbar-right nav">
                        <div class="form-group" v-for="(i,$index) in arr">
                            <a @click='index=$index' :style="{color:index==$index?'red': ''}"
                                :href="i.path">{{i.name}}</a>
                        </div>
                    </div>
                    <!--/.navbar-collapse -->
                </div>
            </div>
        </nav>
        <div class="cont" style="padding-top:60px">
            <keep-alive>
                <router-view></router-view>
            </keep-alive>
        </div>
        <footer style="position: fixed;bottom:0;left: 20%;height: 54px;">
            <audio style="width: 800px" :src="song_url" controls autoplay></audio>
        </footer>
    </div>
    <!-- 首页 -->
    <template id='no1'>
        <div class="item" style="margin: 0 auto; max-width:80%">
            <div>
                <div class="index clearfix">
                    <input style="border:none;border-radius:0;box-shadow: none" v-model="songname" type="text"
                        class="form-control" placeholder="请输入歌曲/歌手/歌单。。。">
                    <a :href="'#/list/'+songname"><span class="btn glyphicon glyphicon-search"
                            aria-hidden="true"></span></a>
                </div>
            </div>
            <p>热门搜索</p>
            <div class="hot">
                <span class="hotlist btn btn-default" v-for="i in hotList">
                    <a :href="'#/list/'+i.k">{{i.k}}</a>
                </span>
            </div>

        </div>
    </template>
    <!-- 排行榜 -->
    <template id='no2'>
        <div class="item">
            <div class="row" style="margin: 0 auto;max-width:1200px">
                <div style="padding: 20px;position: relative;" class="col-md-3 col-sm-3 col-xs-4"
                    v-for="(i) in toplist">
                    <img :src="i.picUrl" :alt="i.topTitle" width="100%">
                    <div style="padding: 10px; font-weight: bold">{{i.topTitle}}</div>
                    <div>
                        <div style="padding-left: 10px;line-height: 24px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width: 100%"
                            v-for="(j, $j) in i.songList">
                            <a :href="'#/list/'+j.songname"><span><b>{{$j+1}}</b>.&nbsp;&nbsp;{{j.songname}}</span></a>
                            <span style="font-size: 12px;color:#ccc">{{j.singername}}</span>
                        </div>
                    </div>
                    <a :href="'#/top/'+i.id">
                        <span class="btn btn-default" style="position: absolute;right:20px;bottom:20px">详情</span>
                    </a>
                </div>
            </div>
        </div>
    </template>
    <!-- 歌手 -->
    <template id='no3'>
        <div>
            <div class="songlist" style="width: 60%;margin: 0 auto" v-for="i in singerlist">
                <div>
                    <a :href="'#/singer/'+i.Fsinger_mid">{{i.Fsinger_name}}</a>
                </div>
            </div>
        </div>
    </template>
    <!-- 歌单 -->
    <template id='no4'>
        <div class="item">
            {{songlist}}
        </div>
    </template>
    <!-- 播放列表 -->
    <template id='no5'>
        <div class="item">
            <div v-if="songlist.length">
                <div class="songlist" style="width: 60%;margin: 0 auto" v-for="(i, $i) in songlist">
                    <div>
                        <a :href="'#/no5/'+i.songmid+'/'+i.songname" @click="index = $i"
                            :style="{color:index==$i?'red':''}">{{i.songname}}</a>
                    </div>
                </div>
            </div>
            <div v-else>
                <a href="#/">还没有添加歌曲，点我搜索</a>
            </div>
        </div>
    </template>
    <!-- 歌曲列表 -->
    <template id='list'>
        <div style="width: 60%;margin: 0 auto 80px">
            <div class="songlist" style="overflow: hidden;">
                <span style="float: left;width: 33%">歌名</span>
                <span style="float: left;width: 33%">歌手</span>
                <span style="float: left;width: 33%">专辑名</span>
            </div>
            <div style="overflow: hidden;" class="songlist" v-for="(i, $i) in songlist">
                <a style="float: left;width: 33%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;"
                    :href="'#/no5/'+i.songmid+'/'+i.songname">{{i.songname}}</a>
                <div style="float: left;width: 33%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
                    <span v-for="(j,$j) in i.singer">
                        {{j.name}} {{i.singer.length - 1==$j?'': ' / '}}
                    </span>
                </div>
                <span
                    style="float: left;width: 33%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">{{i.albumname}}</span>
            </div>
        </div>
        </div>
    </template>
    <!-- 排行榜详情列表 -->
    <template id="top">
        <div style="margin-bottom: 80px">
            <div class="h2" style="text-align:center;border-bottom: 1px solid #000;margin-bottom: 20px;">
                {{topTitle}}
            </div>
            <div class="songlist" style="width: 60%;margin: 0 auto;overflow: hidden;background:#ccc">
                <span style="float: left;width: 33%">歌名</span>
                <span style="float: left;width: 33%">歌手</span>
                <span style="float: left;width: 33%">专辑名</span>
            </div>
            <div></div>
            <div class="songlist" style="width: 60%;margin: 0 auto;overflow: hidden;" v-for="(i, $i) in hotlist">
                <a style="float: left;width:33%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;"
                    :href="'#/no5/'+i.data.songmid+'/'+i.data.songname"><span><b>{{$i+1}}</b>.</span>&nbsp;&nbsp;{{i.data.songname}}</a>
                <div style="float: left;width:33%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
                    <span v-for="(j, $j) in i.data.singer">
                        {{j.name}} {{i.data.singer.length - 1==$j?'': ' / '}}
                    </span>
                </div>
                <span style="float: left;width:33%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
                    {{i.data.albumname}}
                </span>
            </div>
        </div>
    </template>
    <!-- 歌手详情 -->
    <template id='singer'>
        <div style="margin-bottom: 80px">
            <div class="h2" style="text-align:center;border-bottom: 1px solid #000;margin-bottom: 20px;">
                {{singername}}</div>
            <div class="songlist" style="width: 60%;margin: 0 auto;overflow: hidden;background:#ccc">
                <span style="float: left;width: 33%">歌名</span>
                <span style="float: left;width: 33%">歌手</span>
                <span style="float: left;width: 33%">专辑名</span>
            </div>
            <div></div>
            <div class="songlist" style="width: 60%;margin: 0 auto;overflow: hidden;" v-for="i in songlist">
                <a style="float: left;width:33%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;"
                    :href="'#/no5/'+i.musicData.songmid+'/'+i.musicData.songname">
                    {{i.musicData.songname}}
                </a>
                <div style="float: left;width:33%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
                    <span v-for="(j, $j) in i.musicData.singer">
                        {{j.name}} {{i.musicData.singer.length - 1==$j?'': ' / '}}
                    </span>
                </div>
                <span style="float: left;width:33%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
                    {{i.musicData.albumname}}
                </span>
            </div>
        </div>
    </template>
</body>
<script src="js/vue.js"></script>
<script src="js/vue-router.js"></script>
<script src="js/vue-resource.js"></script>
<script>
    Vue.component('play', {
        template: '#play',
        data() {
            return {
                song_url: ''
            }
        },

    })

    var router = new VueRouter({
        routes: [{
            path: '/',
            component: {
                template: '#no1',
                data() {
                    return {
                        songname: '芒种',
                        hotList: [],
                    }
                },
                methods: {
                    hot() {
                        this.$http.jsonp(
                            'https://c.y.qq.com/splcloud/fcgi-bin/gethotkey.fcg?g_tk=5381&uin=0&format=jsonp&jsonpCallback=callback&inCharset=utf-8&outCharset=utf-8&notice=0&platform=h5&needNewCode=1&_=1513317614040', {
                                jsonpCallback: 'callback',
                            }).then(res => {
                            this.hotList = res.data.data.hotkey;
                        });
                    },
                },
                created() {
                    this.hot();
                },
            }
        }, {
            path: '/no2',
            component: {
                template: '#no2',
                data() {
                    return {
                        toplist: []
                    }
                },
                methods: {
                    sendJsonP() {
                        // console.log(this.$route.path);
                        if (this.$route.path == '/no2') {
                            this.$http.jsonp(
                                'https://c.y.qq.com/v8/fcg-bin/fcg_myqq_toplist.fcg?g_tk=5381&uin=0&format=jsonp&jsonpCallback=callback&inCharset=utf-8&outCharset=utf-8&notice=0&platform=h5&needNewCode=1&_=1512554796112', {
                                    jsonpCallback: 'callback',
                                }).then(data => {
                                this.toplist = data.data.data.topList;
                                // console.log(this.toplist);
                            });
                        }
                    },
                },
                created() {
                    this.sendJsonP()
                }
            }
        }, {
            path: '/no3',
            component: {
                template: '#no3',
                data() {
                    return {
                        singerlist: []
                    }
                },
                activated() {
                    if (this.$route.path == '/no3') {
                        this.$http.jsonp(
                            'https://c.y.qq.com/v8/fcg-bin/v8.fcg?channel=singer&page=list&key=all_all_all&pagesize=100&pagenum=1&g_tk=5381&jsonpCallback=callback&loginUin=0&hostUin=0&format=jsonp&inCharset=utf8&outCharset=utf-8&notice=0&platform=yqq&needNewCode=0', {
                                jsonpCallback: 'callback'
                            }).then(data => {
                            // console.log(data.data.data.list);
                            this.singerlist = data.data.data.list
                        })
                    }
                }
            }
        }, {
            path: '/no4',
            component: {
                template: '#no4',
                data() {
                    return {
                        songlist: ''
                    }
                },
                created() {
                    if (this.$route.path == '/no4') {
                        this.$http.jsonp(
                            'https://u.y.qq.com/cgi-bin/musicu.fcg?&g_tk=1278911659&&loginUin=0&hostUin=0&format=json&inCharset=utf8&outCharset=utf-8¬ice=0&platform=yqq&needNewCode=0&data={"comm":{"ct":24},"category":{"method":"get_hot_category","param":{"qq":""},"module":"music.web_category_svr"},"recomPlaylist":{"method":"get_hot_recommend","param":{"async":1,"cmd":2},"module":"playlist.HotRecommendServer"},"playlist":{"method":"get_playlist_by_category","param":{"id":8,"curPage":1,"size":40,"order":5,"titleid":8},"module":"playlist.PlayListPlazaServer"},"new_song":{"module":"QQMusic.MusichallServer","method":"GetNewSong","param":{"type":0}},"new_album":{"module":"QQMusic.MusichallServer","method":"GetNewAlbum","param":{"type":0,"category":"-1","genre":0,"year":1,"company":-1,"sort":1,"start":0,"end":39}},"toplist":{"module":"music.web_toplist_svr","method":"get_toplist_index","param":{}},"focus":{"module":"QQMusic.MusichallServer","method":"GetFocus","param":{}}}', {
                                jsonpCallback: 'callback'
                            }).then(data => {
                            // console.log(data);
                            this.songlist = data;
                        })
                    }
                }
            }
        }, {
            path: '/no5/:songmid/:songname',
            component: {
                template: '#no5',
                data() {
                    return {
                        songlist: [],
                        index: 0,
                    }
                },
                activated() {
                    if (this.$route.params.songmid) {
                        if (this.$route.params.songmid != 0 || this.$route.params.songname != 0) {
                            for (let i = 0; i < this.songlist.length; i++) {
                                if (this.songlist[i].songmid == this.$route.params.songmid) {
                                    console.log(1);
                                    return
                                }
                            }
                            this.songlist.unshift({
                                songname: this.$route.params.songname,
                                songmid: this.$route.params.songmid
                            })
                        }
                    }
                },
            }
        }, {
            path: '/list/:songname',
            component: {
                template: '#list',
                data() {
                    return {
                        songlist: [],
                        songname: '',
                    }
                },
                methods: {
                    sendJsonP() {
                        // console.log(this.$route.params);
                        this.songname = this.$route.params.songname;
                        this.$http.jsonp(
                            'https://c.y.qq.com/soso/fcgi-bin/client_search_cp?g_tk=5381&p=1&n=20&w=' +
                            this.songname +
                            '&format=jsonp&jsonpCallback=callback&loginUin=0&hostUin=0&inCharset=utf8&outCharset=utf-8&notice=0&platform=yqq&needNewCode=0&remoteplace=txt.yqq.song&t=0&aggr=1&cr=1&catZhida=1&flag_qc=0', {
                                jsonpCallback: 'callback',
                            }).then(res => {
                            this.songlist = res.data.data.song.list;
                        });
                    },
                },
                activated() {
                    this.sendJsonP()
                    // console.log(this.$route.path);
                },
            }
        }, {
            path: '/top/:id',
            component: {
                template: '#top',
                data() {
                    return {
                        topTitle: '',
                        hotlist: []
                    }
                },
                activated() {
                    // console.log(this.$route.path);
                    var id = this.$route.path.split('/')[2]
                    this.$http.jsonp(
                        'https://c.y.qq.com/v8/fcg-bin/fcg_v8_toplist_cp.fcg?g_tk=5381&uin=0&format=jsonp&jsonpCallback=callback&inCharset=utf-8&outCharset=utf-8&notice=0&platform=h5&needNewCode=1&tpl=3&page=detail&type=top&topid=' +
                        id + '&_=1512563984096', {
                            jsonpCallback: 'callback'
                        }).then(data => {
                        // console.log(data.data.songlist);
                        this.hotlist = data.data.songlist
                        this.topTitle = data.data.topinfo.ListName;
                    })
                }
            }
        }, {
            path: '/singer/:mid',
            component: {
                template: '#singer',
                data() {
                    return {
                        singername: '',
                        singermid: '',
                        songlist: []
                    }
                },
                activated() {
                    // console.log(this.$route.path);
                    this.singermid = this.$route.path.split('/')[2]
                    this.$http.jsonp(
                        'https://c.y.qq.com/v8/fcg-bin/fcg_v8_singer_track_cp.fcg?g_tk=5381&jsonpCallback=callback&loginUin=0&hostUin=0&format=jsonp&inCharset=utf8&outCharset=utf-8&notice=0&platform=yqq&needNewCode=0&singermid=' +
                        this.singermid + 'm&order=listen&begin=0&num=30&songstatus=1', {
                            jsonpCallback: 'callback'
                        }).then(data => {
                        // console.log(data.data.data);
                        this.singername = data.data.data.singer_name;
                        this.songlist = data.data.data.list
                    })
                }
            }
        }]
    })
    new Vue({
        el: '#app',
        router,
        data: {
            index: 0,
            song_url: '',
            arr: [{
                path: '#/',
                name: '首页'
            }, {
                path: '#/no2',
                name: '排行榜'
            }, {
                path: '#/no3',
                name: '歌手'
            }, {
                path: '#/no4',
                name: '歌单'
            }, {
                path: '#/no5/0/0',
                name: '播放列表'
            }, ]
        },
        watch: {
            '$route.params.songmid'(a, b) {
                // console.log('a:' + a, 'b:' + b);
                if (this.$route.path != '/no5/0/0') {
                    if (a) {
                        this.$http.jsonp(
                            'https://c.y.qq.com/base/fcgi-bin/fcg_music_express_mobile3.fcg?g_tk=1278911659&hostUin=0&format=jsonp&callback=callback&inCharset=utf8&outCharset=utf-8&notice=0&platform=yqq&needNewCode=0&cid=205361747&uin=0&songmid=' +
                            a + '&filename=C400' + a + '.m4a&guid=3655047200', {
                                jsonpCallback: 'callback',
                            }).then(res => {
                            // console.log(res);
                            // 歌曲播放
                            this.song_url =
                                `http://dl.stream.qqmusic.qq.com/${res.body.data.items[0].filename}?vkey=${res.body.data.items[0].vkey}&guid=3655047200&fromtag=66`;
                            // console.log(this.song_url);
                        });
                    }
                }
            }
        },
        created() {
            if (`/no5/${this.$route.params.songmid}/${this.$route.params.songname}` == this.$route.path) {
                this.index = 4
            } else if ('/no4' == this.$route.path) {
                this.index = 3
            } else if ('/no3' == this.$route.path) {
                this.index = 2
            } else if ('/no2' == this.$route.path) {
                this.index = 1
            } else if ('/' == this.$route.path) {
                this.index = 0
            }
        },
        updated() {
            if (`/no5/${this.$route.params.songmid}/${this.$route.params.songname}` == this.$route.path) {
                this.index = 4
            } else if ('/no4' == this.$route.path) {
                this.index = 3
            } else if ('/no3' == this.$route.path) {
                this.index = 2
            } else if ('/no2' == this.$route.path) {
                this.index = 1
            } else if ('/' == this.$route.path) {
                this.index = 0
            }
        },
    })
</script>

</html>